.question {
  display: block;
  justify-content: center;
  text-align: center;
}
:host {
  display: block;
  width: 35vw;
  justify-content: center;
  justify-items: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

